/* Common CSS */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

a,
p {
    font-family: 'Poppins', sans-serif;
    color: #707070;
}

h1 {
    font-family: 'EB Garamond', serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
    color: #414040;
}

.buttonDesign {
    font-family: 'Poppins';
    background-color: #B68C5A;
    border: none;
}

.buttonDesign:hover {
    background-color: #414040;
}

ul li a {
    color: #707070;
}

ul li {
    padding: 0 10px;
}

.smt {
    margin-top: 120px;
}